<h1 class="title"> ✧･ﾟ: *✧･ﾟ:* All The Pretty Unicorns *:･ﾟ✧*:･ﾟ✧ </h1>

<div class="section">
	<div class="container">
		<% @unicorns.each do |unicorn| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to unicorn.name, unicorn  %></p>
		      </div>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>