<h1> Here's Your Review </h1>
<%= simple_form_for ([current_user, @unicorn , @superpower, @review]) do |f| %>

<%= f.input :rating %>
<%= f.input :comment %>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>