
<div class="review">
    <p><div id = “rating-form”> <label> Rating</label> </div></p>
	<p class="review-comment"><%= review.comment %></p>
    <% if user_signed_in? %>


			<div class="links btn-group">
            <%= link_to "Edit", edit_unicorn_superpower_review_path(@unicorn, review.superpower, review) %>
            <%= link_to "Delete", unicorn_superpower_review_path(@unicorn, review.superpower, review), method: :delete, data: {confirm: "Are you sure?"} %>	

	<% end %>

    <script>
$(‘#rating-form’).raty({
path: ‘/assets/’,
scoreName: ‘review[rating]’
});
</script>
</div>	

